# Hide physical DualSense (Bluetooth) from games
# Bustype 0005 = Bluetooth
SUBSYSTEM=="input", ATTRS{id/bustype}=="0005", ATTRS{id/vendor}=="054c", ATTRS{id/product}=="0ce6", ENV{ID_INPUT_JOYSTICK}="", ENV{ID_INPUT_JOYPAD}="", ENV{ID_INPUT}=""
