# ── Forçar a remoção de permissões via script (A Marreta) ──
# Como o logind aplica ACLs (Access Control Lists) de forma assíncrona,
# ele ignora o MODE do udev. A solução é rodar comandos para arrancar a permissão à força.

# Eventos de Input (KDE, libinput, SDL)
SUBSYSTEM=="input", ATTRS{name}=="*DualSense*", ENV{ID_INPUT_JOYSTICK}="", ENV{ID_INPUT_JOYPAD}="", ENV{ID_INPUT}="", ENV{ID_SEAT}="", TAG-="uaccess", TAG-="seat", RUN+="/usr/bin/setfacl -b %E{DEVNAME}", RUN+="/usr/bin/chmod 0600 %E{DEVNAME}"

# Comunicação Bruta Hidraw Padrão (Steam)
SUBSYSTEM=="hidraw", KERNELS=="*054C:0CE6*", TAG-="uaccess", TAG-="seat", RUN+="/usr/bin/setfacl -b %E{DEVNAME}", RUN+="/usr/bin/chmod 0600 %E{DEVNAME}"

# Comunicação Bruta Hidraw Edge (Steam)
SUBSYSTEM=="hidraw", KERNELS=="*054C:0DF2*", TAG-="uaccess", TAG-="seat", RUN+="/usr/bin/setfacl -b %E{DEVNAME}", RUN+="/usr/bin/chmod 0600 %E{DEVNAME}"
